<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<th:block layout:fragment="css">
    <style>
        .container{
            min-width: 800px;
        }

        .no-room{
            width: 800px;
            height: 200px;
            position:absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
            font-size: 28px;
            color: #555;
            text-align: center;
            font-weight: 800;
        }

        #room-container{
            display:flex;
            gap: 10px;

        }
        .room-list{
            flex: 1 1;
        }

    </style>
</th:block>
<div layout:fragment="content">
    <div class="container" style="min-width: 500px;">
        <div id="btnContainer"></div>
        <ul class="list-group">
            <li class="list-group-item">
                <!-- 상품 이미지 불러오기 -->
                <div th:if="${room.item} != null">

                    <img style="width: 100px; height:100px;"
                         th:if="${room.item.itemRepImgDTO}!=null"
                         th:src="'/images/'+${room.item.itemRepImgDTO.imgName}">
                    <img style="width: 100px; height:100px;"
                         th:if="${room.item.itemRepImgDTO}==null" src="/img/default.png">
                    <a th:href="'/item/'+${room.item.id}" th:text="${room.item.itemName}"></a>
                    <th:block th:switch="${#strings.toString(room.item.sellStatus)}">
                        <span class="badge text-bg-success" th:case="SELLING">판매중</span>
                        <span class="badge text-bg-danger" th:case="SUSPENDED">판매중단</span>
                        <span class="badge text-bg-secondary" th:case="SOLD_OUT">판매완료</span>
                    </th:block>
                </div>
                <div th:unless="${room.item} != null">
                    <span>존재하지 않는 상품입니다.</span>
                    <img style="width: 100px; height:100px;"
                         src="/img/item_not_found.png">
                </div>
            </li>
            <li class="list-group-item">
                <!-- 판매자 정보 -->
                <div th:if="${room.seller} != null">
                </span>
                    <img style="width: 100px; height:100px;"
                         th:if="${room.seller.profileImageDTO}==null" src="/img/profile_default.png">
                    <!-- 테스트를 위해 임시 경로를 지정했지만 파일업로드 기능이 구현되면 변경될 수 있습니다.
                    view에서 null인지 조건을 검사하는 것보다 회원가입할 때 사용자가 프로필 사진을 따로 설정하지 않았으면
                     기본 사진의 경로와 이미지 이름으로 지정하는 것이 더 깔끔해 보임 -->

                    <img style="width: 100px; height:100px;"
                         th:if="${room.seller.profileImageDTO}!=null"
                         th:src="${room.seller.profileImageDTO.uploadPath}+${room.seller.profileImageDTO.filename}">
                    <span th:text="${room.seller.nickname}"></span>
                </div>
                <div th:unless="${room.seller} != null">
                    <span>존재하지 않는 회원입니다.</span>
                    <img style="width: 100px; height:100px;"
                         src="/img/member_not_found.png">
                </div>

            </li>
        </ul>

        <!-- 셋중하나가 존재하지 않으면 웹소켓, 채팅 비활성화 -->

        <div class="col-6">
            <h1>[[${room.name}]]</h1>
        </div>
        <div>
            <div id="msgArea" class="col" style="height: 500px; overflow-y: scroll;"></div>
            <div>
                <div class="input-group mb-3">
                    <input type="text" id="msg" class="form-control" disabled>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script>
        $(document).ready(function(){

            var roomName = '[[${room.name}]]';
            var roomId = '[[${room.roomId}]]';
            const enabled = [[${room.enabled}]];
            var username = 'null';
            var userEmail = 'null';
            const token = $("meta[name='_csrf']").attr("content");
            const header = $("meta[name='_csrf_header']").attr("content");

            const sellStatus = '[[${#strings.toString(room.item.sellStatus)}]]';

            var sellBtnEnabled = false;

            if(sellStatus === 'SOLD_OUT'){
                $('#btnContainer').empty();
                $('#btnContainer').append('<button class="btn btn-secondary">거래완료됨</button>');
                sellBtnEnabled = true;
            }


            $.ajax({
                url: "/chat/getUsername", // 사용자 이름을 반환하는 엔드포인트
                method: "GET",
                contentType: "application/json",
                success: function(response) {
                    //$("#username").text(response.username); // 받은 사용자 이름을 페이지에 표시

                    console.log(response);


                    username = response.nickname;
                    userEmail = response.email;
                    console.log(roomName + ", " + roomId + ", " + response);

                    //사용자 이름을 받아왔으면 유효한 사용자인지 확인
                    userValidate();
                    //사용자 이름을 받아왔으면 채팅 기록 출력
                    loadChatHistory();
                    //채팅기록을 받아왔으면 WebSocket 연결
                    console.log(enabled);
                    if(enabled === true){
                        connectToWebSocket();
                        $("#msg").removeAttr("disabled");
                    }else{
                        $("#msg").val("사용할 수 없는 채팅방입니다.");
                    }
                },
                error: function(xhr, status, error) {
                    console.error("Error fetching username:", error);
                    alert(xhr.responseText);
                    location.href = '/';
                }
            });

            function userValidate(){
                const paramData={
                    roomId: roomId
                };
                const param = JSON.stringify(paramData);
                $.ajax({
                    url: "/chat/userValidate", // 사용자 이름을 반환하는 엔드포인트
                    method: "POST",
                    contentType: "application/json",
                    data: param,
                    beforeSend: function (xhr) {
                        /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                        xhr.setRequestHeader(header, token);
                    },
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(xhr, status, error) {
                        console.log("validate fail");
                        alert(xhr.responseText);
                        //location.href = '/';
                    }
                });
            }

            function loadChatHistory(){

                $.ajax({
                    url: "/chat/getChatHistory/"+roomId, // 사용자 이름을 반환하는 엔드포인트
                    method: "GET",
                    success: function(response) {
                        console.log(response);
                        response.forEach((chat) => {
                            showChat(chat);
                        });

                        $('#msgArea').scrollTop($('#msgArea')[0].scrollHeight);
                    },
                    error: function(xhr, status, error) {
                        console.error("대화내용을 불러오는데 실패했습니다.", error);
                        alert(xhr.responseText);
                        location.href = '/';
                    }
                });
            }

            function sellBtnEnable(){
                const sellerEmail = '[[${room.seller.email}]]';
                console.log();
                if(sellerEmail === userEmail){
                    str = '<button class="btn btn-primary sell-btn">거래완료</button>';
                    $('#btnContainer').append(str);
                }
            };

            $('#btnContainer').on('click', '.sell-btn', function() {
                if(confirm("거래완료 처리 하시겠습니까?")){
                    const paramData={
                        roomId: roomId
                    };
                    console.log(paramData);
                    const param = JSON.stringify(paramData);
                    $.ajax({
                        url: "/chat/sell", // 사용자 이름을 반환하는 엔드포인트
                        method: "POST",
                        contentType: "application/json",
                        data: param,
                        beforeSend: function (xhr) {
                            /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                            xhr.setRequestHeader(header, token);
                        },
                        success: function(response) {
                            alert('성공적으로 처리되었습니다.');
                            $('#btnContainer').empty();
                            $('#btnContainer').append('<button class="btn btn-secondary">거래완료됨</button>');
                        },
                        error: function(xhr, status, error) {
                            console.log("validate fail");
                            //alert('오류가 발생했습니다.');
                            alert(xhr.responseText);
                            //location.href = '/';
                        }
                    });
                }
            });

            function showChat(content){

                const writer = content.writer;
                let str = '';
                const message = content.message;
                const msgDateFormat = content.msgDateFormat;

                if(writer === username){
                str = "<div class='msgContainer col-6' style='margin-left:auto;'>";
                str += "<div style='margin-left:auto; text-align: right; font-weight:800; font-size: 18px;'>" +
                        writer +"</div>";
                str += "<div class='alert alert-warning  message-mine'>";
                str += "<div>" + message + "</div>";
                str += "<div>"+ msgDateFormat +"</div>";
                str += "</div></div>";
                //$("#msgArea").append(str);
                }
                else{
                str = "<div class='msgContainer col-6'>";
                str += "<div style='margin-left:auto; text-align: left; font-weight:800; font-size: 18px;'>" +
                        writer +"</div>";
                str += "<div class='alert alert-secondary message-others'>";
                str += "<div>" + message + "</div>";
                str += "<div>"+ msgDateFormat +"</div>";
                str += "</div></div>";
                //$("#msgArea").append(str);
                }

                $("#msgArea").append(str);
                $('#msgArea').scrollTop($('#msgArea')[0].scrollHeight);

                console.log(sellBtnEnabled)
                console.log($('.msgContainer').length)

                if(!sellBtnEnabled){
                    if($('.msgContainer').length > 5){
                        sellBtnEnable();
                        sellBtnEnabled = true;
                    }
                }
            }


            console.log(roomName + ", " + roomId + ", " + username);

            function dateFormat(date) {
                let month = date.getMonth() + 1;
                let day = date.getDate();
                let hour = date.getHours();
                let minute = date.getMinutes();
                let second = date.getSeconds();

                month = month >= 10 ? month : '0' + month;
                day = day >= 10 ? day : '0' + day;
                hour = hour >= 10 ? hour : '0' + hour;
                minute = minute >= 10 ? minute : '0' + minute;
                second = second >= 10 ? second : '0' + second;

                return date.getFullYear() + '/' + month + '/' + day + ' ' + hour + ':' + minute + ':' + second;
            }


            function connectToWebSocket(){
                var sockJs = new SockJS("/stomp/chat");
                //1. SockJS를 내부에 들고있는 stomp를 내어줌
                var stomp = Stomp.over(sockJs);


                $("#button-send").removeClass('disabled').on("click", function(e){
                    var msg = document.getElementById("msg");

                    console.log(username + ":" + msg.value);
                    stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId,
                                                                        message: msg.value,
                                                                        writer: username,
                                                                        msgDateFormat: dateFormat(new Date())
                                                                        }));
                    msg.value = '';
                });

                //2. connection이 맺어지면 실행
                stomp.connect({}, function (){
                   console.log("STOMP Connection");


                   //4. subscribe(path, callback)으로 메세지를 받을 수 있음
                   stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
                       var content = JSON.parse(chat.body);
                       console.log(content);
                       showChat(content);
                   });

                   //3. send(path, header, message)로 메세지를 보낼 수 있음
                   //stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writer: username}))
                });
            }

        });
    </script>
</div>

</html>