<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<th:block layout:fragment="css">
    <style>
        .container{
            min-width: 800px;
        }

        .no-room{
            width: 1250px;
            padding: 40px;
            font-size: 28px;
            color: #555;
            text-align: center;
            font-weight: 800;
        }

        #room-container{
            display:flex;
            gap: 10px;

        }
        .room-list{
            flex: 1 1;
            height: 800px;
            overflow-y: scroll;
            padding: 10px;
        }

        .buyer-name, .seller-name{
            font-size: 24px;
            font-weight: 800;
        }
        .member-role{
            font-size: 14px;
            color: #777;
        }

        .room-info{
            display: flex;
            justify-content: center;
            gap: 0px 10px;
        }
        .roomlist-left{
            flex-shrink: 0;
        }

        .roomlist-right{
            width: calc(100% - 110px);
        }
        .roomlist-right>.seller-name,
        .roomlist-right>.item-info{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .room-link{
            display: block;
            position: absolute;
            margin-top: -9px;
            left: 0px;
            right: 0px;
            width: 100%;
            height: 100%;
            text-indent: -9999px;
            font-size: 0;
        }
    </style>
</th:block>
<div layout:fragment="content">
    <!-- 채팅방 목록 컨테이너 -->
    <div class="container">
        <!-- 판매 및 구매 채팅방 목록 -->
        <div id="room-container" th:if="${#lists.size(sellList) > 0} or ${#lists.size(buyList) > 0}">

            <!-- 판매 채팅방 목록 -->
            <div class="room-list sell-room">
                <h2>판매 대화</h2>
                <ul th:each="room : ${sellList}" class="list-group">
                    <li class="list-group-item">
                        <div class="room-info" th:if="${room.buyer} != null">
                            <!-- 구매자 정보 및 프로필 이미지 -->
                            <div class="roomlist-left">
                                <img style="width: 100px; height:100px;"
                                     th:if="${room.buyer.profileImageDTO == null || #strings.isEmpty(room.buyer.profileImageDTO.imgName)}"
                                     src="/img/profile_default.png">
                                <img style="width: 100px; height:100px;"
                                     th:if="${room.buyer.profileImageDTO != null && not #strings.isEmpty(room.buyer.profileImageDTO.imgName)}"
                                     th:src="${room.buyer.profileImageDTO.imgUrl}">
                            </div>
                            <div class="roomlist-right">
                                <!-- 구매자 이름 -->
                                <div class="buyer-name" th:text="${room.buyer.nickname}"></div>
                                <div class="member-role">(구매자)</div>

                                <div class="item-info">
                                    <!-- 상품 이미지 및 링크 -->
                                    <th:block th:if="${room.item} != null">
                                        <img style="width: 50px; height:50px;"
                                             th:if="${room.item.itemRepImgDTO} != null"
                                             th:src="'/images/' + ${room.item.itemRepImgDTO.imgName}">
                                        <img style="width: 50px; height:50px;"
                                             th:if="${room.item.itemRepImgDTO} == null" src="/img/default.png">
                                    </th:block>

                                    <!-- 상품 대표이미지 없음 -->
                                    <th:block th:if="${room.item} == null">
                                        <img style="width: 50px; height:50px;" src="/img/default.png">
                                        <a th:href="@{/chat/room(roomId=${room.roomId})}" th:text="${room.name}"></a>
                                    </th:block>

                                    <span th:text="${room.name}"></span>
                                </div>
                            </div>

                            <!-- 채팅방 링크 -->
                            <a class="room-link" th:href="@{/chat/room(roomId=${room.roomId})}" th:text="${room.name}"></a>
                        </div>
                        <!-- 구매자가 없는 경우 -->
                        <div class="room-info" th:if="${room.buyer} == null">
                            <div class="roomlist-left">
                                <img style="width: 100px; height:100px;" src="/img/default.png">
                            </div>
                            <div class="roomlist-right">
                                <div class="buyer-name">(탈퇴한 사용자)</div>

                                <!-- 상품 이미지 및 링크 -->
                                <div class="item-info">
                                    <!-- 상품이 있는 경우 -->
                                    <th:block th:if="${room.item} != null">
                                        <img style="width: 50px; height:50px;"
                                             th:if="${room.item.itemRepImgDTO} != null"
                                             th:src="'/images/' + ${room.item.itemRepImgDTO.imgName}">
                                        <img style="width: 50px; height:50px;"
                                             th:if="${room.item.itemRepImgDTO} == null" src="/img/default.png">
                                    </th:block>
                                    <!-- 상품이 없는 경우 -->
                                    <th:block th:if="${room.item} == null">
                                        <img style="width: 50px; height:50px;" src="/img/default.png">
                                    </th:block>

                                    <!-- 채팅방 이름 -->
                                    <span th:text="${room.name}"></span>
                                </div>
                            </div>
                            <!-- 상품 링크 -->
                            <a class="room-link" th:href="@{/chat/room(roomId=${room.roomId})}" th:text="${room.name}"></a>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- 구매 채팅방 목록 -->
            <div class="room-list buy-room">
                <h2>구매 대화</h2>
                <ul th:each="room : ${buyList}" class="list-group">
                    <li class="list-group-item">
                        <div class="room-info" th:if="${room.seller} != null">
                            <!-- 판매자 정보 및 프로필 이미지 -->
                            <div class="roomlist-left">
                                <img style="width: 100px; height:100px;"
                                     th:if="${room.seller.profileImageDTO == null || #strings.isEmpty(room.seller.profileImageDTO.imgName)}"
                                     src="/img/profile_default.png">
                                <img style="width: 100px; height:100px;"
                                     th:if="${room.seller.profileImageDTO != null && not #strings.isEmpty(room.seller.profileImageDTO.imgName)}"
                                     th:src="${room.seller.profileImageDTO.imgUrl}">

                            </div>
                            <div class="roomlist-right">

                                <!-- 판매자 이름 -->
                                <div class="seller-name" th:text="${room.seller.nickname}"></div>
                                <div class="member-role">(판매자)</div>
                                <!-- 상품 이미지 및 이름 -->
                                <div class="item-info">
                                    <!-- 상품 대표이미지 존재 -->
                                    <th:block th:if="${room.item} != null">
                                        <img style="width: 50px; height:50px;"
                                             th:if="${room.item.itemRepImgDTO} != null"
                                             th:src="'/images/' + ${room.item.itemRepImgDTO.imgName}">
                                        <img style="width: 50px; height:50px;"
                                             th:if="${room.item.itemRepImgDTO} == null" src="/img/default.png">
                                    </th:block>

                                    <!-- 상품 대표이미지 없음 -->
                                    <th:block th:if="${room.item} == null">
                                        <img style="width: 50px; height:50px;" src="/img/default.png">
                                    </th:block>

                                    <!-- 채팅방 이름 -->
                                    <span th:text="${room.name}"></span>
                                </div>
                            </div>

                            <!-- 상품 링크 -->
                            <a class="room-link" th:href="@{/chat/room(roomId=${room.roomId})}" th:text="${room.name}"></a>
                        </div>

                        <!-- 판매자가 없는 경우 -->

                        <div class="room-info" th:if="${room.seller} == null">
                            <!-- 판매자 정보 및 프로필 이미지 -->
                            <div class="roomlist-left">
                                <img style="width: 100px; height:100px;" src="/img/default.png">
                            </div>
                            <div class="roomlist-right">

                                <!-- 판매자 이름 -->
                                <div class="seller-name">(탈퇴한 사용자)</div>

                                <!-- 상품 이미지 및 이름 -->
                                <div class="item-info">
                                    <!-- 상품 대표이미지 존재 -->
                                    <th:block th:if="${room.item} != null">
                                        <img style="width: 50px; height:50px;"
                                             th:if="${room.item.itemRepImgDTO} != null"
                                             th:src="'/images/' + ${room.item.itemRepImgDTO.imgName}">
                                        <img style="width: 50px; height:50px;"
                                             th:if="${room.item.itemRepImgDTO} == null" src="/img/default.png">
                                    </th:block>

                                    <!-- 상품 대표이미지 없음 -->
                                    <th:block th:if="${room.item} == null">
                                        <img style="width: 50px; height:50px;" src="/img/default.png">
                                    </th:block>

                                    <!-- 채팅방 이름 -->
                                    <span th:text="${room.name}"></span>
                                </div>
                            </div>

                            <!-- 상품 링크 -->
                            <a class="room-link" th:href="@{/chat/room(roomId=${room.roomId})}" th:text="${room.name}"></a>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
        <!-- 채팅방이 없는 경우 -->
        <th:block th:if="${#lists.size(sellList) == 0} and ${#lists.size(buyList) == 0}">
            <div class="no-room">아직 채팅방을 개설하지 않으셨네요.<br>상품 페이지의 '플로우톡' 버튼을 눌러서<br> 새로운 채팅을 시작해보세요!</div>
        </th:block>
    </div>
</div>

<script th:inline="javascript">
    $(document).ready(function(){
        //채팅방 이름
        var roomName = [[${roomName}]];

        //채팅방 이름이 없을시 채팅방 생성
        if(roomName != null)
            alert(roomName + "방이 개설되었습니다.");


    });
</script>
</html>