<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .error {
            color: #bd2130;
        }
    </style>
</th:block>

<div layout:fragment="content">


    <!-- 공백란 알림 메시지 출력 -->
    <p th:if="${errors}" class="error" th:each="error : ${errors}" th:text="${error.defaultMessage}"></p>
    <!-- 중복 알림 메시지 출력 -->
    <p th:if="${error}" class="error" th:text="${error}"></p>

    <form role="form" method="post" action="/members/register">
        <div class="form-group mb-3">
            <label for="name">이름</label>
            <input type="text" name="name" id="name" class="form-control" placeholder="이름을 입력해주세요" th:value="${memberFormDTO.name}">
        </div>
        <div class="form-group mb-3">
            <label for="email">이메일주소</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="이메일을 입력해주세요" th:value="${memberFormDTO.email}">
        </div>
        <div class="form-group mb-3">
            <label for="pwd">비밀번호</label>
            <input type="password" name="pwd" id="pwd" class="form-control" placeholder="비밀번호 입력" th:value="${memberFormDTO.pwd}">
        </div>
        <div class="form-group mb-3">
            <label for="confirmPwd">비밀번호 재입력</label>
            <input type="password" name="confirmPwd" id="confirmPwd" class="form-control" placeholder="비밀번호 다시 입력" th:value="${memberFormDTO.confirmPwd}">
        </div>
        <div class="form-group mb-3">
            <label for="nickname">닉네임</label>
            <input type="text" name="nickname" id="nickname" class="form-control" placeholder="닉네임을 입력해주세요" th:value="${memberFormDTO.nickname}">
        </div>
        <div class="form-group mb-3">
            <label for="phone">전화번호</label>
            <input type="text" name="phone" id="phone" class="form-control" placeholder="전화번호를 입력해주세요" th:value="${memberFormDTO.phone}">
        </div>
        <div class="form-group mb-3">
            <label for="birth">생년월일</label>
            <input type="date" name="birth" id="birth" class="form-control" th:value="${memberFormDTO.birth}">
        </div>
        <div class="form-group mb-3">
            <label for="gender">성별</label>
            <select name="gender" id="gender" class="form-control">
                <option value="m" th:selected="${memberFormDTO.gender == 'm'}">남성</option>
                <option value="f" th:selected="${memberFormDTO.gender == 'f'}">여성</option>
                <option value="secret" th:selected="${memberFormDTO.gender == 'secret'}">기타</option>
            </select>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-3">
                <label for="userAddr">주소</label>
                <input type="text" name="userAddr" id="userAddr" class="form-control" placeholder="주소를 입력해주세요" th:value="${memberFormDTO.userAddr}">
            </div>
            <div class="form-group col-md-3 mb-3">
                <label for="userDaddr">상세주소</label>
                <input type="text" name="userDaddr" id="userDaddr" class="form-control" placeholder="상세주소를 입력해주세요" th:value="${memberFormDTO.userDaddr}">
            </div>
            <div class="form-group col-md-3 mb-3">
                <label for="userStnum">지번</label>
                <input type="text" name="userStnum" id="userStnum" class="form-control" placeholder="지번을 입력해주세요" th:value="${memberFormDTO.userStnum}">
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">회원가입</button>
            <!-- csrf 토큰 임시 해제 -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </div>
    </form>

</div>

</html>