<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .error {
            color: #bd2130;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <form role="form" method="post" action="/members/login">
        <div class="form-group mb-3">
            <label th:for="email">이메일주소</label>
            <input type="email" name="email" class="form-control" placeholder="이메일을 입력해주세요">
        </div>
        <div class="form-group mb-3">
            <label th:for="password">비밀번호</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="비밀번호 입력">
        </div>
        <div class="mb-3">
            <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
            <button class="btn btn-primary">로그인</button>
            <button type="button" class="btn btn-primary" onClick="location.href='/members/register'">회원가입</button>
            <button type="button" class="btn btn-primary" onClick="location.href='/members/findId'">아이디 찾기</button>
            <button type="button" class="btn btn-primary" onClick="location.href='/EmailVerify'">비밀번호 찾기</button>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf?.token}">
            <!-- 일단 주석 처리 -->
        </div>
    </form>

    <a href="/oauth2/authorization/google">구글 로그인</a>

</div>

</html>