<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>상품 데이터 출력 예제</h1>
    <div>
        상품명 : <span th:text="${item.itemName}"></span>
    </div>
    <div>
        상세설명 : <span th:text="${item.content}"></span>
    </div>
    <div>
        가격 : <span th:text="${item.price}"></span>
    </div>
    <div>
        배송비 : <span th:text="${item.delivery}"></span>
    </div>
    <div>
        주소 : <span th:text="${item.address}"></span>
    </div>
    <div>
        등록일 :
        <span th:text="${#temporals.format(item.regdate, 'yyyy-MM-dd HH:mm:ss')}"></span>
    </div>
    <div>
        상품상태 :
        <span th:switch="${#strings.toString(item.itemStatus)}">
            <span th:case="NEW">새상품</span>
            <span th:case="NO_SIGNS_OF_USE">사용감 없음</span>
            <span th:case="SOME_SIGNS_OF_USE">사용감 적음</span>
            <span th:case="SIGNIFICANT_SIGNS_OF_USE">사용감 많음</span>
            <span th:case="FAULTY">파손/고장</span>
        </span>
        <!--<span th:text="${item.itemStatus}"></span>-->
    </div>
    <div th:switch="${#strings.toString(item.sellStatus)}">
        판매상태 :
        <span th:case="SELLING">판매중</span>
        <span th:case="SUSPENDED">판매중단</span>
        <span th:case="SOLD_OUT">판매완료</span>
    </div>

    <div th:each="itemTag, status: ${itemTagList}">
        태그 :
        <span th:switch="${#strings.toString(itemTag.itemTagName)}">
            <span th:case="DIRECT_TRADE">직거래</span>
            <span th:case="DELIVERY_TRADE">택배거래</span>
            <span th:case="SAME_DAY_DELIVERY">당일배송</span>
            <span th:case="INTERNATIONAL_DELIVERY">해외배송</span>
        </span>
    </div>

    <div>
        카테고리 :
        <span th:if="${parentCategory != null}" th:text="${parentCategory.name}+'&gt'"></span><span th:text="${category.name}"></span>
    </div>
    <!--<img src="/test_images/clothes1_1.png" alt="상품사진">-->
    <hr/>

    <div>
        판매자 닉네임 : <span th:text="${member.nickname}"></span>
    </div>
    <div>
        판매자 매너점수 : <span th:text="${member.mannerScore}"></span>
    </div>
    <div>
        판매자 가입일 :
        <span th:text="${#temporals.format(member.regdate, 'yyyy-MM-dd')}"></span>
    </div>
    <div>
        판매자 프로필사진 :
        <img th:if="${profileImage}==null" src="/img/profile_default.png">
        <!-- 테스트를 위해 임시 경로를 지정했지만 파일업로드 기능이 구현되면 변경될 수 있습니다. -->
        <!-- view에서 null인지 조건을 검사하는 것보다 회원가입할 때 사용자가 프로필 사진을 따로 설정하지 않았으면
         기본 사진의 경로와 이미지 이름으로 지정하는 것이 더 깔끔해 보임 -->
        <!-- <p th:text="${profileImage.uploadPath}+${profileImage.filename}"></p> -->
        <img th:if="${profileImage}!=null" th:src="${profileImage.uploadPath}+${profileImage.filename}">
    </div>

    <hr/>
    <div th:each="itemImg, status: ${itemImgList}">
        <img th:src="'/test_images/'+${itemImg.oriImgName}">
    </div>

    <hr/>

    <!-- 사용자가 판매중인 다른 상품 -->
    <div th:each="item, status: ${itemList}">
        <img th:src="'/test_images/'+${itemImg.oriImgName}">
        <!--
            1. 상품 대표 사진
            2. 상품명
            3. 가격
            4. 올린 시간
        -->

    </div>


    <!--
        더 추가해야 할 것
        1. 판매수 (이거는 itemSell의 count로 갖고 와도 될 듯)
        2. 프로필사진(없으면 기본사진)
        3. 판매자 소개
        4. 판매자 다른 상품(판매자 아이디로 검색한 상품 리스트로 가져오기)
    -->

</body>
</html>