<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 데이터 출력</title>
</head>
<body>
<h1>상품 정보</h1>
    <div>
        상품명 : <span th:text="${itemDto.itemNm}"></span><br>
    </div>
    <div>
        상품상세설명 : <span th:text="${itemDto.itemDetail}"></span><br>
    </div>
    <div>
        상품등록일 : <span th:text="${itemDto.regTime}"></span><br>
    </div>
    <div>
        상품가격 : <span th:text="${itemDto.price}"></span><br>
    </div>
</body>
</html>