<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="recentViewedItems">
  <div class="card recent-viewed-items">
    <div class="card-header">
      최근 본 상품
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" th:each="item : ${session.recentViewedItems}">
        <a th:href="@{'/item/' + ${item.itemId}}">
          <img th:src="'/test_images/'+${item.oriImgName}" alt="상품 이미지" />
          <span th:text="${item.itemName}">상품명</span>
        </a>
      </li>
    </ul>
  </div>
  <style>
    .recent-viewed-items {
      position: fixed;
      top: 70px;
      right: 20px;
      width: 150px;
      min-height: 50px;
      z-index: 1000;
    }
    .recent-viewed-items img {
      width: 50px;
      height: auto;
    }
  </style>
</div>
</html>