<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="footer" th:fragment="footer">
        <footer class="page-footer font-small cyan darken-3">
            <div class="footer-copyright text-center py-3">
                2024 Shopping Mall Example WebSite
            </div>

            <a href="https://www.flaticon.com/kr/free-icons/" title="천 아이콘">천 아이콘 제작자: Uniconlabs - Flaticon</a>
            <a href="https://www.flaticon.com/kr/free-icons/" title="신발 아이콘">신발 아이콘 제작자: juicy_fish - Flaticon</a>
            <a href="https://www.flaticon.com/kr/free-icons/" title="넥타이 아이콘">넥타이 아이콘 제작자: Freepik - Flaticon</a>
            <a href="https://www.flaticon.com/kr/free-icons/" title="확대경 아이콘">확대경 아이콘 제작자: DinosoftLabs - Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/next" title="next icons">Next icons created by Roundicons - Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/previous" title="previous icons">Next icons created by Roundicons - Flaticon</a>
        </footer>
    </div>
</html>