<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div th:fragment="header">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Shop</a>
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item" sec:authorize="isAnonymous()" >
                            <a class="nav-link active" aria-current="page" href="/members/login">로그인</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAnonymous()">
                            <a class="nav-link active" aria-current="page" href="/members/register">회원가입</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right:200px">

                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <!-- 로그아웃 form -->
                            <form action="/members/logout" method="post" style="display:inline;">
                                <!-- CSRF 토큰 포함 -->
                                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                                <!-- 로그아웃 버튼 -->
                                <button type="submit" class="btn btn-link nav-link active" aria-current="page" style="border:none;
                                 background:none; padding:0; margin-top: 8px; margin-left: 5px;">로그아웃</button>
                            </form>
                        </li>

                        <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                마이페이지
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="/members/memberEdit">회원정보수정</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/buyer/orders">구매내역</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</html>