html {
    position: relative;
    min-height: 100%;
    margin: 0;
}


body {
    min-height: 100%;
}


.content{
    min-height: 100vh; // 화면 100%
    display: flex;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}


.footer {
    left: 0;
    right: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}
