<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>

    <!-- Google Charts 라이브러리 -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawCharts);

        // 서버에서 가져온 아이템 데이터
        /*<![CDATA[*/
        var itemDTOs = /*[[${itemDTOs}]]*/ [];
        /*]]>*/

        function drawCharts() {
            var categoryData = new google.visualization.DataTable();
            categoryData.addColumn('string', 'Category');
            categoryData.addColumn('number', '수량');

            var statusData = new google.visualization.DataTable();
            statusData.addColumn('string', 'ItemStatus');
            statusData.addColumn('number', '수량');

            var priceData = new google.visualization.DataTable();
            priceData.addColumn('string', 'Price Range');
            priceData.addColumn('number', '수량');

            var categoryCounts = {};
            var statusCounts = {};
            var priceRanges = {'0-10000': 0, '10001-100000': 0, '100001-500000': 0, '>500001': 0};

            // 카테고리 ID와 이름 매핑
            var categoryNames = {
                "4": "MEN_OUTER", "5": "MEN_TOPS", "6": "MEN_PANTS", "7": "MEN_SETS",
                "8": "WOMEN_OUTER", "9": "WOMEN_TOP", "10": "WOMEN_PANTS", "11": "WOMEN_SKRITS",
                "12": "WOMEN_DRESSES", "13": "WOMEN_SETS", "14": "SHOES_SNEAKERS", "15": "SHOES_MENS",
                "16": "SHOES_WOMENS", "17": "SHOES_SPORTS"
            };

            itemDTOs.forEach(function(item) {
                var categoryName = categoryNames[item.categoryId] || "기타";
                categoryCounts[categoryName] = (categoryCounts[categoryName] || 0) + 1;
                statusCounts[item.itemStatus] = (statusCounts[item.itemStatus] || 0) + 1;

                if(item.price <= 10000) priceRanges['0-10000']++;
                else if(item.price <= 100000) priceRanges['10001-100000']++;
                else if(item.price <= 500000) priceRanges['100001-500000']++;
                else priceRanges['>500001']++;
            });

            Object.keys(categoryCounts).forEach(function(key) {
                categoryData.addRow([key, categoryCounts[key]]);
            });

            Object.keys(statusCounts).forEach(function(key) {
                statusData.addRow([key, statusCounts[key]]);
            });

            Object.keys(priceRanges).forEach(function(key) {
                priceData.addRow([key, priceRanges[key]]);
            });

            var options = {
                title: '분포도',
                pieHole: 0.4
            };

            var categoryChart = new google.visualization.PieChart(document.getElementById('category_chart_div'));
            categoryChart.draw(categoryData, options);

            var statusChart = new google.visualization.PieChart(document.getElementById('status_chart_div'));
            statusChart.draw(statusData, options);

            var priceChart = new google.visualization.PieChart(document.getElementById('price_chart_div'));
            priceChart.draw(priceData, options);
        }
    </script>
</head>
<body>
<h1>통계</h1>

<table border="1">
    <thead>

    <tr>
        <th>price</th>
        <th>categoryId</th>
        <th>itemStatus</th>
    </tr>
    </thead>
    <tbody>
    <div id="data-table-div" style="display: none;">

        <tr th:each="item : ${itemDTOs}" >
            <td th:text="${item.price}"></td>
            <td th:text="${item.getItemStatus().getCode()}"></td>
            <td th:text="${item.categoryId}"></td>
        </tr>
    </div>

    </tbody>
</table>

<div id="category_chart_div" style="width: 400px; height: 300px;"></div>
<div id="status_chart_div" style="width: 400px; height: 300px;"></div>
<div id="price_chart_div" style="width: 400px; height: 300px;"></div>

</body>
</html>
